<!-- The footer segment. This is being used throughout all the pages. -->
<footer class="footer wow fadeIn">
    <div class="container-fluid footer-align">
        <div class="row">
            <div class="col-sm-12" data-wow-offset="200">
                <div class="container-fluid fix-on-large">
                    <div class="row top-gap">
                        <div class="col-xs-12 col-sm-6 col-lg-offset-6 col-lg-3 footer-content">
                            <div class="row">
                                <div class="col-xs-6 offset-16">
                                    <div class="footer-links wow rotateInUpRight" data-wow-delay="1.5s">
                                        <a class="link" href="@Url.Action("Index", "Site")">
                                            <span class="active"><span class="valign"><span class="vertical">HOME</span></span></span>
                                            <span class="hover"><span class="valign"><span class="vertical">HOME</span></span></span>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-xs-6 offset-8">

                                    <div class="footer-links wow zoomIn" data-wow-delay="1.5s">
                                        <a class="link" href="@Url.Action("Pricing", "Site")">
                                            <span class="active"><span class="valign"><span class="vertical">PRICING</span></span></span>
                                            <span class="hover"><span class="valign"><span class="vertical">PRICING</span></span></span>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-xs-6 offset-16">
                                    <div class="footer-links wow rotateInUpLeft" data-wow-delay="1.5s">
                                        <a class="link" href="@Url.Action("Features", "Site")">
                                            <span class="active"><span class="valign"><span class="vertical">FEATURES</span></span></span>
                                            <span class="hover"><span class="valign"><span class="vertical">FEATURES</span></span></span>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-xs-6 offset-8">
                                    <div class="footer-links wow rollIn" data-wow-delay="1.5s">
                                        <a class="link" href="@Url.Action("Survey", "Site")">
                                            <span class="active"><span class="valign"><span class="vertical">SURVEY</span></span></span>
                                            <span class="hover"><span class="valign"><span class="vertical">SURVEY</span></span></span>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-xs-6 offset-16">
                                    <div class="footer-links wow flipInX" data-wow-delay="1.5s">
                                        <a class="link" href="@Url.Action("Contact", "Site")">
                                            <span class="active"><span class="valign"><span class="vertical">CONTACT</span></span></span>
                                            <span class="hover"><span class="valign"><span class="vertical">CONTACT</span></span></span>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-xs-6 offset-8">
                                    <div class="footer-links wow bounceInRight" data-wow-delay="1.5s">
                                        <a class="link" href="@Url.Action("About", "Site")">
                                            <span class="active"><span class="valign"><span class="vertical">ABOUT&nbsp;US</span></span></span>
                                            <span class="hover"><span class="valign"><span class="vertical">ABOUT&nbsp;US</span></span></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <!--social media icons-->
                        <div class="col-xs-12 col-sm-6 col-lg-3 top-gap">
                            <div class="row">
                                <div class="col-md-12">
                                    <ul class="social">
                                        <li class="facebook"><a href="#"><i class="fa fa-facebook fa-3x"></i></a></li>
                                        <li class="google"><a href="#"><i class="fa fa-google fa-3x"></i></a></li>
                                        <li class="twitter"><a href="#"><i class="fa fa-twitter fa-3x"></i></a></li>
                                        <li class="youtube"><a href="#"><i class="fa fa-youtube fa-3x"></i></a></li>
                                        <li class="linkedin-square"><a href="#"><i class="fa fa-linkedin-square fa-3x"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <p id="open-source">Webmart is <span title='The MIT License (MIT) Copyright (c) 2016 Sadia Afrin. Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions: The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software. THE SOFTWARE IS PROVIDED " as is", without warranty of any kind, express or implied, including but not limited to the warranties of merchantability, fitness for a particular purpose and noninfringement. in no event shall the authors or copyright holders be liable for any claim, damages or other liability, whether in an action of contract, tort or otherwise, arising from, out of or in connection with the software or the use or other dealings in the software.'>Open Source!</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer shape image-->
    <div class="footer-shape wow fadeInLeft" data-wow-offset="200" data-wow-delay=".5s">
    </div>
</footer>
<!-- End of footer segment. -->
