<!-- The header segment. This is being used throughout all the pages. -->
<header>
    <!-- bannner-slider -->
    <section id="slider" class="content">
        <ul class="slider-wrapper">
            <li class="current-slide">
                <img src="/images/banner.jpg" alt="Computer equipment arranged in a table">
            </li>
        </ul>
    </section>
    <!-- bannner -->
    <section class="banner">
        <div class="container">
            <div class="logo wow fadeInDown" data-wow-duration="1s">
                <a href="/">Webmart <span class="wow bounceInRight" data-wow-delay=".5s"> Elegant, modern and personalized </span></a>
            </div>
            <div class="navigation">
                <nav class="navbar navbar-default wow fadeIn" data-wow-duration="2s">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".center-container">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>

                    <!-- Nav -->
                    <section class="center-container collapse navbar-collapse nav-wil">
                        <nav class="main-nav ">
                            <ul class="nav navbar-nav ">

                                <li class="menu-effect">
                                    <a href="@Url.Action("Index", "Site")" class="active">
                                        <svg height="60" width="150" xmlns="http://www.w3.org/2000/svg">
                                            <rect class="shape" height="60" width="150" />
                                            <text y="34">
                                                <tspan class="text" x="50%" text-anchor="middle">Home</tspan>
                                            </text>
                                        </svg>
                                    </a>
                                </li>

                                <li class="menu-effect">
                                    <a href="@Url.Action("Features", "Site")">
                                        <svg height="60" width="150" xmlns="http://www.w3.org/2000/svg">
                                            <rect class="shape" height="60" width="150" />
                                            <text y="34">
                                                <tspan class="text" x="50%" text-anchor="middle">Features</tspan>
                                            </text>
                                        </svg>
                                    </a>
                                </li>
                                <li class="menu-effect">
                                    <a href="@Url.Action("Pricing", "Site")">
                                        <svg height="60" width="150" xmlns="http://www.w3.org/2000/svg">
                                            <rect class="shape" height="60" width="150" />
                                            <text y="34">
                                                <tspan class="text" x="50%" text-anchor="middle">Pricing</tspan>
                                            </text>
                                        </svg>
                                    </a>
                                </li>
                                <li class="menu-effect">
                                    <a href="@Url.Action("About", "Site")">
                                        <svg height="60" width="150" xmlns="http://www.w3.org/2000/svg">
                                            <rect class="shape" height="60" width="150" />
                                            <text y="34">
                                                <tspan class="text" x="50%" text-anchor="middle">About Us</tspan>
                                            </text>
                                        </svg>
                                    </a>
                                </li>
                                <li class="menu-effect">
                                    <a href="@Url.Action("Contact", "Site")">
                                        <svg height="60" width="150" xmlns="http://www.w3.org/2000/svg">
                                            <rect class="shape" height="60" width="150" />
                                            <text y="34">
                                                <tspan class="text" x="50%" text-anchor="middle">Contact</tspan>
                                            </text>
                                        </svg>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </section>

                </nav>
            </div>

        </div>

    </section>

</header>
<!-- End of footer segment. -->
